    <!-- <%- include ../layouts/header.ejs %>	 -->



<form action="/add" method="post">
    
    First Name: <input name="FirstName" type="text" /> <br />
    Last Name: <input name="LastName" type="text" /> <br />
    Age: <input name="Age" type="text" /> <br />
    <input type="submit" />
</form>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>